table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
  }

  th {
    background-color: #007bff;
    color: #fff;
    position: sticky;
    top: 0;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}
